body 
{
    font-family: Calibri;
    background-color: rgba(222, 242, 245, 0.345);
}

.up
{
    background-color: #FBD781;
    border: 4px solid #c56b12;
    border-radius: 15px;
    height: 75px;
    box-sizing: border-box;
}

#study
{
    margin: auto;
    font-size: 3.5em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.enlace
{
    margin: 0 0 0 85%;
    position: absolute;
    top: 28px;
    color: #000000;;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
}

.cv
{
    margin-left: 95%;
}
 
.enlace:visited
{
    color:black;
}

.salute
{
    font-size: 5em;
    font-style: italic;
    margin-left: 25%;
}

.myname
{
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    margin:0 27% 0 35%;
    padding-left: 15px;
    background-color: #556b12;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-radius: 0 15px; ;
}